22:20
LS/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/RS
WB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/WB
WB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/SB/WB
LS/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/RS