21:20
LS/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/IOW/RS
WB/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/OW/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
WB/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/RWB
LS/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/OWD/RS
