54:43
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/IW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_N/OW_N/OW_W/ES/ES/ES/ES/ES/ES/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/IW/IW/OW_E/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/ES/ES/ES/ES/OW_N/OW_N/OW_N/OW_N/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/ES/ES/ES/ES/OW_E/IW/IW/IW/IW/IW/
IW/OW_S/OW_S/OW_E/ES/ES/ES/ES/ES/ES/OW_W/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/ES/ES/ES/ES/OW_S/OW_S/OW_S/OW_S/IW/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/
IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/