46:53
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW
IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/IW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_E/////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_E/////////////////OW_W/IW/IW/IW/IW/IW/IW/IW/OW_E/////////////////////////OW_W/IW/
IW/OW_N/OW_N/OW_W///////OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/IW/IW/OW_E/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/////OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_E///////OW_W/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/OW_W/////OW_E/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/OW_S/OW_S/OW_E///////OW_W/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/////OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_E//////////////////////////////////////////////////OW_W/IW/
IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/