30:30
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/././././././././././IW/IW/IW/IW/IW/IW/IW/IW/IW/IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
./././././././././././././././././././././././././././././.
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/././././././././././././././././././././././././././././IW
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/././././././././././IW/IW/IW/IW/IW/IW/IW/IW/IW/IW