22:20
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW
IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/OW_E/ES/ES/ES/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/OW_E/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/OW_E/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES_D/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/OW_SW/OW_S/OW_S/OW_S/IW/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/OW_N/OW_NE/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES_I/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW
IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW

