46:86
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/OW_W/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/OW_NW/OW_NE/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_FO/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_N/OW_NE/ES/ES/ES_FO/ES/ES/ES/OW_NW/OW_N/IW/IW/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/ES_T/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_W/OW_E/ES_T/ES_WO/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES_WO/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES_T/ES_T/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/OW_W/IW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES_T/ES/ES/ES/ES/ES_T/OW_W/OW_E/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES_T/OW_W/OW_E/ES_T/ES_T/ES/OW_NW/OW_NE/ES/ES_T/ES_WO/ES_T/ES_T/OW_SW/IW/OW_NE/ES_T/ES_T/ES_WO/ES_T/OW_NW/IW/OW_SE/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_NE/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_WO/ES_T/ES_T/ES_T/ES_T/ES_WO/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/OW_W/IW/IW/
IW/IW/IW/OW_N/OW_N/OW_N/OW_S/OW_S/OW_S/OW_S/OW_N/OW_N/OW_NE/ES/ES/ES/ES_T/ES_WO/ES_T/ES_T/OW_NW/IW/IW/OW_N/OW_NE/ES/OW_SW/OW_SE/ES/OW_NW/OW_N/OW_N/OW_NE/ES/OW_SW/IW/OW_N/OW_N/OW_N/OW_N/IW/OW_SE/ES/OW_NW/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES_T/OW_W/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_N/IW/IW/IW/
IW/IW/IW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/OW_SW/OW_S/OW_SE/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/OW_NW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/OW_W/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_T/ES_T/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/OW_W/IW/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/OW_SW/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/OW_W/OW_E/ES_T/ES_WO/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES_T/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES_T/ES_T/ES_I/ES_T/ES/ES/ES/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/OW_W/IW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/ES/ES/ES_T/OW_W/OW_E/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/ES_T/ES_WO/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES_T/OW_W/IW/OW_S/IW/OW_NE/ES_T/ES_T/ES_WO/ES_T/OW_NW/IW/OW_SE/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_NE/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_WO/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/OW_W/IW/IW/
IW/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_NE/ES/ES/ES/ES_T/ES_T/ES_T/ES_T/OW_NW/IW/OW_E/ES/OW_SW/IW/OW_N/OW_N/OW_N/OW_N/IW/OW_SE/ES/OW_NW/OW_N/OW_N/OW_S/OW_S/OW_S/OW_S/OW_N/OW_N/OW_N/OW_N/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_NE/ES/ES/ES/ES/ES/ES/ES_T/OW_W/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_N/IW/IW/IW/
IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_S/OW_S/OW_SE/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/OW_SW/OW_S/OW_SE/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES/ES/ES/ES/OW_NW/IW/IW/IW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/OW_W/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/IW/IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES_T/ES_T/ES_FO/ES_T/ES/ES/ES/OW_NW/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/OW_SW/IW/OW_NE/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES_FO/ES/ES/ES/OW_NW/OW_NE/ES_T/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/ES_T/ES_T/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_N/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/OW_W/OW_E/ES_T/ES_WO/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/OW_SW/OW_S/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES_WO/ES_T/ES_T/ES_T/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES/ES/OW_W/IW/OW_N/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_N/OW_NE/ES_T/ES/ES/ES/ES/ES_T/OW_W/OW_E/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES_T/ES_T/ES/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES_T/ES_T/ES_T/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/IW/OW_S/IW/OW_NE/ES_T/ES_T/ES_WO/ES_T/OW_NW/IW/OW_SE/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/OW_NE/ES/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES_T/ES_T/ES_WO/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_NE/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/ES_WO/ES_T/ES_T/OW_W/IW/IW/
IW/IW/OW_E/ES/OW_SW/IW/OW_N/OW_N/OW_N/OW_N/IW/OW_SE/ES/ES/ES/ES/ES_T/ES_T/ES_T/OW_NW/IW/OW_SE/ES/OW_NW/OW_N/OW_N/OW_S/OW_S/OW_S/OW_S/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES_T/OW_W/IW/IW/OW_N/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/
IW/IW/OW_E/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/OW_NW/OW_N/OW_N/IW/OW_SE/ES/ES/OW_SW/OW_S/OW_SE/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES_T/OW_NW/IW/IW/IW/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/OW_S/IW/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/IW/OW_S/OW_S/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/IW/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_FO/ES/ES/ES/ES/ES_FO/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_NW/IW/OW_SE/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/IW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES/OW_SW/OW_SE/ES/ES/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES_FO/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/ES/ES/ES/ES_T/ES_T/ES_WO/ES_T/ES/ES/ES/OW_NW/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/ES/OW_SW/OW_S/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/ES/ES/ES_T/OW_NW/OW_N/OW_N/OW_NE/ES_T/ES/ES/OW_W/OW_E/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_WO/ES_T/ES_T/ES_T/ES/ES/ES/ES/ES/ES/ES/ES/ES/ES_FO/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/ES/ES/ES/OW_SW/OW_SE/ES/ES/ES_T/ES_T/ES/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/ES/ES_T/OW_NW/IW/OW_S/OW_S/IW/OW_NE/ES_T/ES/OW_W/IW/OW_N/OW_NE/ES/ES/ES/ES_T/ES_T/ES_T/ES/ES/ES/OW_NW/OW_N/OW_N/OW_NE/ES/ES/ES/ES/ES/ES/ES_D/ES_T/ES/ES/ES/ES/ES/OW_W/IW/IW/
IW/IW/OW_E/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/ES/ES/ES/ES/ES/ES/ES_T/OW_NW/OW_NE/ES/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/ES_T/OW_NW/IW/OW_SE/ES/ES/OW_SW/IW/OW_NE/ES_T/OW_SW/OW_S/OW_S/OW_SE/ES/ES/ES/OW_NW/OW_N/OW_NE/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES/OW_NW/OW_NE/ES/ES_T/ES_WO/ES_T/ES_T/OW_W/IW/IW/
IW/IW/IW/OW_N/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_NE/ES/ES/ES/ES_T/ES_T/ES_T/OW_NW/IW/OW_SE/ES/OW_NW/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_N/OW_N/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_N/OW_N/IW/OW_SE/ES/ES/ES/ES/OW_SW/IW/OW_NE/ES/ES/ES/ES/ES/ES/ES_T/OW_W/IW/IW/OW_N/OW_N/OW_N/OW_S/OW_S/OW_S/OW_S/OW_N/OW_N/OW_N/OW_N/OW_NE/ES/OW_SW/OW_SE/ES/OW_NW/OW_N/OW_N/OW_N/IW/IW/IW/
IW/IW/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES_T/OW_NW/OW_N/OW_N/IW/OW_E/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_W/OW_E/ES_T/ES_T/ES_T/ES_T/ES_T/ES_T/OW_NW/IW/IW/IW/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/OW_W/IW/IW/IW/OW_E/ES_T/ES_T/ES_T/ES_T/OW_W/IW/IW/IW/IW/IW/IW/
IW/IW/IW/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/OW_N/OW_N/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/OW_N/OW_N/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/IW/IW/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/OW_N/OW_N/OW_N/OW_N/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/IW/
